# Desabilita acesso as subpastas do programa
Options -Indexes

RewriteEngine On

# Redirecionar para a página 404.php se encontrar um erro 403, 404 ou 500
ErrorDocument 403 /reservgarb/error/404.php
ErrorDocument 404 /reservgarb/error/404.php
ErrorDocument 500 /reservgarb/error/404.php

# Redirecionar para a página inicial se o arquivo não existir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.\*)$ /index.php [L]

# Verifica se a solicitação é para a pasta admin

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^admin/(.\*)$ /admin/index.php [L]

# Verifica se a solicitação é para a pasta resplab

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^resp/(.\*)$ /resp/index.php [L]

# Verifica se a solicitação é para a pasta user

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^user/(.\*)$ /user/index.php [L]

# Verifica se a solicitação é para a pasta coord

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^coord/(.\*)$ /coord/index.php [L]

# Redirecionar automaticamente para pastas que possuem um index.php
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1/index.php [L]

# Adicionar extensão .php automaticamente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]